@import url('bootstrap');
@import url('bootstrap-icons');

body {
    background-color: #fffdfd;
}

main {
    min-height: 500px;
}

#jumbotron {
    background-color: #eec9cf;
}

footer {
    background-color: #fff8f9;
}