@import url('bootstrap');
@import url('bootstrap-icons');

body {
    background-color: #fffdfd;
}

main {
    min-height: 700px;

    .favorite {
        padding-top: 250px;
    }
}

#jumbotron {
    background-color: #eec9cf;
    height: 300px;

    .w-50 {
        margin-top: -3rem;
    }
}

footer {
    background-color: #ffdde2ff;
    min-height: 200px;

    .link {
        min-height: 150px;
    }
}

.btn-succ {
    background-color: #802c6e;
    color: white;
    border: 2px solid #802c6e;
    border-radius: 0.5rem;
    transition: background-color 0.2s, transform 0.2s;
}

.btn-succ:hover {
    background-color: #a03c8f;
    transform: translateY(-2px);
    color: white;
}

.btn-prev {
    background-color: white;
    color: #802c6e;
    border: 2px solid #802c6e;
    border-radius: 0.5rem;
    transition: background-color 0.2s, transform 0.2s, color 0.2s;
}

.btn-prev:hover {
    background-color: #802c6e;
    color: white;
    transform: translateY(-2px);
}

.product {
    min-height: 600px;
}